html, body{
    padding: 0;
    margin: 0;
}
#main{
    font-size: 1em;
    font-family: Poppins, sans-serif;
    width: 100vw;
    height: 100vh;
    background-color: whitesmoke;
    overflow: hidden;
    display: grid;
    grid-template-columns: 15% 85%;
}
header{
    background-color: white;
    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: bold;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
header img{
    width: 50%;
    margin: 15% 0;
}
header nav{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     padding: 0;
     width: 100%;
 }
header nav a{
    width: 80%;
    padding: 5% 5% 5% 15%;
    transition: all .2s ease-in-out;
    text-decoration: none;
    color: black;
}
header nav a:hover{
    background-color: rgba(6, 142, 51, 1);
    color: white;
}
#board{
    padding: 3%;
    display: grid;
    grid-template-rows: 10% 90%;
}
#board #title{
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    align-items: center;
    margin: 0;
}
#board #content{
    grid-row-start: 2;
    grid-row-end: 3;
}
#list-prescription{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 0;
    width: 100%;
    height: 80vh;
}
.search{
    border: 0;
    background-color: white;
    border-radius: 15px;
    font-size: 1em;
    padding: 12px 2.5%;
    width: 95%;
    margin-bottom: 10px;
}
.list-row{
    border-bottom: 3px solid #f9f9f9;
    margin: 0;
    padding: 0 50px;
    grid-template-columns: 25% 25% 25% 25%;
    height: 60px;
    display: grid;
}
.list-row p{
    width: 25%;
    margin: 0;
    display: flex;
    align-items: center;
}


#tableHead{
    border-radius: 15px 15px 0 0;
    background-color: #089E45;
    color: whitesmoke;
    height: 60px;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 0 50px;

    grid-template-columns: 25% 25% 25% 25%;

}
#tableHead p{
    width: auto;
    text-align: left;
    display: grid;
}
.list{
    background-color: white;
    padding: 0;
    grid-template-columns: 100%;
    width: 100%;
    display: grid;
    overflow-y: scroll;
    margin: 0;
    border-radius: 0 0 15px 15px;
}

