{% extends 'base.html.twig' %}

{% block title %}inCare - Préscription{% endblock %}

   {% block stylesheets %}
       <link rel="stylesheet" href="{{ asset('css/prescription.css') }}">
   {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}

{% block body %}

<div id="board">

</div>

{% endblock %}
